

#masthead { 
  margin: 0 auto;
  width: 940px;
  padding:0 0 10px 0;
  min-height: 400px; 
}

.over-navi {
  background: blue;
  width: 940px;
  height: 40px;
  margin: 0;
  padding: 0;
  position: relative;
}  

.over-navi ul {
  margin: 0 !important;
  padding:0 !important;
  background: #fff;
  width:940px;
  display: inline-block;
}
  
.over-navi ul li {
  display: block;
  height: 40px;
  width:235px;

  text-align: center;
  list-style: none;
  margin:0 !important;
  padding:0 !important;
  background: #111;
  float: left;
  position: relative;

}

.over-navi ul li a {
  color:#fff !important;
  font-weight: bold;
  text-decoration: none;
  display: block;
  width:235px;
  height:30px;
  border-right: 1px solid #444;
  margin: 0 !important;
  padding:10px 0 0 0;
  background: #111;
  font-size: 13px;
  position: absolute;
  top:0;
  left: 0;
  z-index: 2000000;
}

.over-navi ul li:last-child a {
  border: 0;
  width: 235px;
}
.over-navi ul li:hover a,
.over-navi ul li.selected a {
  background: #fff;
  color:#111 !important;
  height: 31px;
} 

.hero-mast {
  width: 900px;

  }

.hero-mast img{
  width: 100%;
  display: block;
}
#dropdown {
  width:938px;
  height:250px;
  position: absolute;
  z-index: 20000;
  border-top:#dedede 1px solid;
  border-left:#dedede 1px solid;
  border-right:#dedede 1px solid;
  border-bottom:#111 6px solid;
  background: #fff;
  top:40px;
  left: 0;
  box-shadow: rgba(0,0,0,.3) 0px 3px 5px;  
}

/* Dropdown Navigation */

#dropdown ul {
  background: none;
  width:100%;
}

#dropdown ul li {
  float: none;
  margin:0;
  padding:0;
}

#dropdown.bookstore {
  background-position: 0px 0px;
}

#dropdown.dining,
#dropdown.other   {
  background-position: 0px -250px;
}

#dropdown.beachcard {
  background-position: 0px -500px;
}

.dropdown-content-divider {
  display:block;
  float: left;
  height: 100%;
  min-height: 100%;
  width:213px;
  margin:10px 0px;
  padding:0 10px;
  border-right:1px solid #ddd;
}

.dropdown-content-whole {
  display: block;
  float: left;
  min-height: 100%;
  min-width: 100%;
}

.dropdown-content-divider:last-child {
border: 0;
}

.dropdown-content-divider h3 {
  margin:0;
  padding: 3px 0px;
}
.dropdown-content-divider p {
padding:0;
margin: 0;
}

.dropdown-content-divider .newsheadline {
  font-size:12px;
  display: block;
  padding: 5px 0 0 0 !important;
  margin: 0 !important;
 }

 /* Front Page Tab */

.front-page-tab {
	height: 206px;
	margin-bottom: 20px;
	background: #111;
	position: relative;
	text-shadow:rgba(0,0,0,1) 0px 2px 0px;
}

.front-page-tab .info {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;


	background-image: -o-linear-gradient(180deg, rgba(0,0,0,0.00) 20%, #000000 100%);
	background-image: -moz-linear-gradient(180deg, rgba(0,0,0,0.00) 20%, #000000 100%);
	background-image: -webkit-linear-gradient(180deg, rgba(0,0,0,0.00) 20%, #000000 100%);
	background-image: -ms-linear-gradient(180deg, rgba(0,0,0,0.00) 20%, #000000 100%);
	background-image: linear-gradient(180deg, rgba(0,0,0,0.00) 20%, #000000 100%);
	padding:0px;
	height:80px;
}


.front-page-tab .info ul {
	margin:0;
	padding:10px;
}
.front-page-tab .info ul li {
	float: left;
	font-size: 14px;
	margin:0 15px 0 0;
}
.front-page-tab .info ul li a {
	color: #fff;
	text-decoration: underline;
}

.front-page-tab h2 {
	color: #fff;
	font-size: 20px;
	margin:0;
	padding: 10px;
	border-bottom: 1px solid #444;
	font-weight: normal;
}

.corporate.front-page-tab {
	background: url(../img/corporate.jpg);
}

.beachbreeze.front-page-tab {
	background: url(../img/hamidian.jpg);
}

/*
  Subpage Navi(gation)
  ====================
  
  Needs: .horizontal-navigation
  Styles the navigation that appears on Shrines and Pages.
*/
.subpage-navi {
  height: 45px;
  background: #eee;
  box-shadow:rgba(0,0,0,.2) 0px 2px 3px inset;
  border-bottom: 1px solid #ccc;

  margin: -20px 0 20px 0;
}

.subpage-navi .horizontal-navi {
  width: 100%;
  height: 45px;
  margin: 0 auto;
  text-align: right;
}
.subpage-navi .navi-item {
  display: inline-block;
  height:45px;
}

.subpage-navi .navi-item a {
  font-size: 13px;
  height: 14px;
  color: #333;
  padding:14px 25px; 
  margin: 4px;
}

.subpage-navi .navi-item.selected a {
  font-weight: bold;
  color: #333;
}

.subpage-navi .navi-item a:hover {
  color: #DBC046;
}
.subpage-navi h2 {
  padding:13px 0;
  font-size: 20px;
  font-weight: normal;
} 

/*
  Banner Navi(gation)
  ==================

  Needs: .horizontal-navigation
  Styles the banner navigation that appears on Temples and Pages
*/

.banner-navi {
  height: 82px;
  border-bottom: 1px solid #ddd;
  box-shadow: rgba(0,0,0,.2) 0px 2px 3px;
  margin-bottom: 20px;
}

.banner-navi .horizontal-navi {
  height: inherit;
  float: right;;
}
.banner-navi .horizontal-navi .navi-item {
  height: inherit;
  color:#333;
}
.banner-navi .horizontal-navi .navi-item a {
  font-size:12px;
  display: block;;
  padding:35px 16px;
  color:#333;
  text-transform: uppercase;
}
.banner-navi .horizontal-navi .navi-item a:hover {
  background: #333;
  background: rgba(0,0,0,.4);
  color: #fff;
} 

@media print { 
 /* All your print styles go here */
 body {
  font-family: serif !important;
  width:50%;
  margin:0 auto;
 }
 #header, #footer, #nav { display: none !important; } 
 .print-hide { display: none; }
}