/*
  Horizontal Navigation
  =====================
  
  Uses ul>li*>a or ol>li*>a to make the horzizntal navigation pattern
 */

.horizontal-navi {
  margin: 0;
  padding: 0;
}

.horizontal-navi li {
  margin: 0;
  padding: 0;
  float: left;
}

.subpage-navi ul li a {
  display: block;
  text-align: center;
}
