/*
Theme Name: University Template
Theme URI: http://csulb.edu/webteam
Author: CSULB's University Web Team
Author URI: http://csulb.edu/webteam
Description:

The 2011 theme for WordPress is sophisticated, lightweight, and adaptable. Make it yours with a custom menu, header image, and background -- then go further with available theme options for light or dark color scheme, custom link colors, and three layout choices. Twenty Eleven comes equipped with a Showcase page template that transforms your front page into a showcase to show off your best content, widget support galore (sidebar, three footer areas, and a Showcase page widget area), and a custom "Ephemera" widget to display your Aside, Link, Quote, or Status posts. Included are styles for print and for the admin editor, support for featured images (as custom header images on posts and pages and as large images on featured "sticky" posts), and special styles for six different post formats.
Version: 2012

Tags: dark, light, white, black, gray, one-column, two-columns, three-columns, left-sidebar, right-sidebar, fixed-width, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-image-header, featured-images, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready
*/

/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

/********* Reset All ************/
@charset utf-8;html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{background:transparent;border:0;vertical-align:baseline;margin:0;padding:0}body{line-height:1}h1,h2,h3,h4,h5,h6{/* clear:both; */font-weight:normal}ol,ul{list-style:none}blockquote{quotes:none}blockquote:before,blockquote:after{content:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}a img{border:none}

/********* GLobal ************/
body {
	font-family: Arial, Helvetica, sans-serif;
	/* font-family: Times, "Times New Roman", Georgia, serif; */
	color: #555;
	/* font-size: 62.5%; */
	font-size: 64.5%;
	background:#000 url(/sites/beachreview/wp-content/themes/ut/images/bk.jpg) no-repeat top center;
}
#global_container {
	background-color: #fff;
	clear: both;
}
/********** Header ************/
#header {
	margin: auto;
	margin-top:10px;
	font-family: Verdana, Helvetica, sans-serif;
	}
/************ Search & Tools *************/		
#toolsearchset {}
#toolsearchbox {
	background-color:#444;
	padding:8px 0px 8px 8px;
	border: 0;
	color: #fff;
	font-size: 11px;
	background-image: url(/sites/beachreview/wp-content/themes/ut/images/maglens2.gif);
	background-repeat: no-repeat;
	background-position: right;
	width: 275px;
	float: right;
}
#toolsearchbutton {
	display: none;
}
#toolset {
	color:#888;
	margin: 0 0 0 0;
	font-family: Arial, Helvetica, sans-serif;
}
#toolset ul {
	font-size:1em;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}
#toolset li {
	display: inline;
	float: right;
	margin-left:12px;
	padding: 0;
}
#toolset li a {
	color: #999;
}
#toolset li a:hover {
	color: #ffc600;
}	
/************ Destinations *************/
#destinations {color: #888;}
#destinations h2 {color: #888;}
#destinations a {color: #888;}
#destinations a:hover {color: #ffc600;}
#destinations ul {text-align: left;border-top:1px solid #222;}
#destinations li {padding:5px 0;border-bottom: 1px solid #222;}

/********  Branding  ************/
#branding {
font-size: 1em;
line-height: 1.4em;
color: #666;
}
/******** Sketch Menu *********/
#menu {
/* font-family: Georgia, "Times New Roman", serif; */
font-size: 1.2em;
text-transform: uppercase;
font-weight: bold;
margin-top: 0;
margin-bottom: 10px;
padding:15px 0 0 0;
}
#menu ul {
text-align: center;
}
#menu li {
display: inline;
padding: 0 10px;
}
#menu li a {
color: #000;
}
#menu ul.menutop {
border-bottom: 5px solid #eee;
padding-bottom:10px; 
margin-bottom: 10px;
}
#menu ul.menubottom {
text-transform: none;
font-weight: normal;
border-bottom: 1px solid #eee;
padding-bottom:10px; 
margin-bottom: 10px;
}
#menu li.current a {
color: #E19400;
}

/********  NAV  ************/
#nav {
color: #444;
font-size: 1.1em;
}
#nav a {
}
#nav h2 {
text-transform: uppercase;
font-size: 1.1em;
}
#nav ul {
border-top: 5px solid #222;
text-transform:none;
}
#nav ul.hierarchical {
font-weight: bold;
text-transform: uppercase;
}
#nav li {
border-bottom: 1px solid #ddd;
padding: 9px 0 9px 0;
line-height: 1.3em;
}
#nav li a.current {
color: #e19400;
}
#nav li a.more:hover:after {
content: " +"; 
}
#nav ul ul {
margin-left: 0px;
font-weight: normal;
border-top: 1px solid #ddd;
border-bottom:1px solid #fff;
margin-top: 10px;
margin-bottom: -10px;
}
#nav a {
color: #444;
text-decoration: none;
}
#nav a:hover {
color: #888;
border-bottom: 1px solid #888;
}
/********  Breadcrumbs  ************/
#breadcrumbs {
	border-bottom: 1px solid #eee;
	padding: 0 0 7px 0;
	margin-bottom: 10px;
	font-size: 1.1em;
	line-height: 1.4em;
	color: #666;
}

/********  Sidebar  ************/
#sidebar ul {
border-top: 5px solid #eee;
font-size: 1.1em;
}
#sidebar li {
border-bottom: 1px solid #ddd;
padding: 9px 0 9px 0;
line-height: 1.3em;
}
#sidebar a {
color: #444;
text-decoration: none;
}
#sidebar a:visited {
color: #888;
border-bottom: 1px solid #ccc;
padding-bottom: 2px;
}
#sidebar a:hover {
color: #888;
border-bottom: 1px solid #888;
}
#sidebar p a {
color: #E19400;
text-decoration: none;
border-bottom: 1px solid #E19400;
padding-bottom: 2px;
}
#sidebar p a:hover {
color: #888;
border-bottom: 1px solid #ccc;
}

/*********** last3 stories setup ***********/
.item {
	clear: both;
	border-top:1px solid #eee;
}
.item p {
	padding-top: 10px;
	font-size: 1.1em;
}

#latest p {
line-height: 1.5em;
}
/*********** Headings ***********/
h3 {
line-height: 1.4em;
}
#campuscommunity h3, #morenews h3, #allcsulbnews h3, #multimedia h3, #campuscommunity h4, #morenews h4, #multimedia h4 {
	text-transform: uppercase;color: #464646;
}
#campuscommunity p, #morenews p, #multimedia p {
	line-height: 1.5em;
}

/********** Image Captions Machanism *********/
.imgcontainer {
	position:relative;
	}
.img-caption {
	background:#000;
	color:#fff;
	position:absolute;
	bottom:.9em;;
	left:0;
	padding: 10px;
	width:inherit;
	opacity:.75;
	filter:alpha(opacity=75);
	line-height: 1.5em;
	font-size: 1.2em;
	font-style: italic;
}
	
.active {
background-image: url('/sites/beachreview/wp-content/themes/ut/images/bk-active.jpg');
background-position: right;
background-repeat: repeat;
}

/********  Horizontal tools  ************/
#hdoctools {
text-transform: uppercase;
font-size: .6em;
text-align: right;
/* border-top: 1px solid #eee; */
/* padding-top: 5px; */
color: #888;
}
#hdoctools ul.tools {
margin-left:0;
padding: 0;
margin:0 0 0 0;
list-style: none;
}
#hdoctools ul.tools li {
display: inline;
margin-left: 0;
text-align: right;
}
#hdoctools ul li a {
	border: none;
}
#hdoctools li.email {
padding-top: 5px;
/* border-top: 1px solid #eee; */
background-image: url('/sites/beachreview/wp-content/themes/ut/images/icn_email_12x12.gif');
background-repeat: no-repeat;
background-position:left center;
padding-left: 18px;
padding-right: 5px;
}
#hdoctools li.print {
padding-top: 5px;
/* border-top: 1px solid #eee; */
background-image: url('/sites/beachreview/wp-content/themes/ut/images/icn_print_12x12.gif');
background-repeat: no-repeat;
background-position:left center;
padding-left: 18px;
padding-right: 5px;
}
#hdoctools li.share {
padding-top: 5px;
/* border-top: 1px solid #eee; */
background-image: url('/sites/beachreview/wp-content/themes/ut/images/icn_share_12x12.gif');
background-repeat: no-repeat;
background-position:left center;
padding-left: 18px;
padding-right: 5px;
}
#hdoctools li.small {
padding-top: 5px;
/* border-top: 1px solid #eee; */
background-image: url('/sites/beachreview/wp-content/themes/ut/images/icn_small_12x12.gif');
background-repeat: no-repeat;
background-position:left center;
padding-left: 18px;
padding-right: 5px;
}
#hdoctools li.large {
padding-top: 5px;
/* border-top: 1px solid #eee; */
background-image: url('/sites/beachreview/wp-content/themes/ut/images/icn_large_12x12.gif');
background-repeat: no-repeat;
background-position:left center;
padding-left: 18px;
padding-right: 5px;
}
#hdoctools li.textsize {
padding-top: 5px;
/* border-top: 1px solid #eee; */
background-image: url('/sites/beachreview/wp-content/themes/ut/images/icn_textsize.gif');
background-repeat: no-repeat;
background-position:right center;
padding-left: 5px;
padding-right: 25px;
}

/*********** Breadcrumbs ***********/
#breadcrumbs a {
color: #444;
text-decoration: none;
}
#breadcrumbs a:hover {
color: #888;
border-bottom: 1px solid #888;
}
/********  Content  ************/

#content p img a {
color: #E19400;
text-decoration: none;
border-bottom: 0px solid #E19400;
padding-bottom: 0px;
}

#content h2 a, #content h3 a, #content h4 a {
color: #E19400;
text-decoration: none;
}
#content p {
}
#content p a {
color: #E19400;
text-decoration: underline;
}
#content p a:visited {
color: #888;
}
#content p a:hover, #content h2 a:hover, #content h3 a:hover, #content h4 a:hover {
color: #888;
}

/********  Post  ************/
#post {
margin-bottom: 20px;
}
#post .byline, #post .date {
font-style: italic;
font-family: Georgia, "Times New Roman", serif;
padding: 0 10px 0 0;
color: #888;
font-size: 11px;
text-transform: capitalize;
}
#post .byline span.date {
font-style: italic;
font-family: Georgia, "Times New Roman", serif;
padding: 0 10px 0 0;
color: #888;
font-size:inherit;
text-transform: capitalize;
}
#post li a {
color: #E19400;
text-decoration: none;
border-bottom: 1px solid #E19400;
padding-bottom: 1px;
}
#post li a:visited {
color: #888;
border-bottom: 1px solid #ccc;
padding-bottom: 1px;
}
#post li a:hover {
color: #888;
border-bottom: 1px solid #ccc;
}
#post h1 {
font-weight: bold;
font-size: 2.4em;
margin-bottom: 10px;
color: #000;
line-height: 1.2em;
}
#post h1 a {
color: #000;
border-bottom: 0px solid #E19400;
}
#post h1 a:visited {
color: #000;
border-bottom: 0px solid #888;
}
#post h1 a:hover {
color: #E19400;
border-bottom: 1px solid #E19400;
}
#post ul {
font-size: 1.2em;
margin-bottom: 1em;
}
#post li {
padding: .25em .5em;
margin-left:2.6em;
line-height: 1.6em;
/* list-style:disc; */
list-style: square;
list-style-position: outside;
}
/********  Gray Section  ************/

#global_container_gray {
background: #F6F6F6; /* Old browsers */
background: -moz-linear-gradient(top, #F6F6F6 0%, #eeeeee 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #eeeeee)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #F6F6F6 0%, #eeeeee 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #F6F6F6 0%, #eeeeee 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #F6F6F6 0%, #eeeeee 100%); /* IE10+ */
background: linear-gradient(top, #F6F6F6 0%, #eeeeee 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F6F6F6', endColorstr='#eeeeee', GradientType=0 ); /* IE6-9 */
clear: both;
height: auto;
padding: 20px 0;
border-top:1px solid #eee;
}
#graysection {
}
#graysection ul {
font-size: 1.1em;
}
#graysection a {
color: #444;
text-decoration: none;
}
#graysection a:visited {
color: #888;
border-bottom: 1px solid #ccc;
padding-bottom: 2px;
}
#graysection a:hover {
color: #888;
border-bottom: 1px solid #888;
}
#graysection p a {
color: #E19400;
text-decoration: none;
border-bottom: 1px solid #E19400;
padding-bottom: 2px;
}
#graysection p a:hover {
color: #888;
border-bottom: 1px solid #ccc;
}

/********  Footer  ************/
#footer {
margin:20px auto;
font-family: Verdana, Helvetica, sans-serif;
color: #888;
line-height: 1.4em;
}
#footer a {
color: #888;
}
#footer a:hover {
color: #ffc600;
}
#index {
text-align: center;
border-bottom: 1px solid #222;
margin-bottom: 20px;
}
#index h2 a {
text-align: center;
color: #888;
font-size: .65em;
text-transform: uppercase;
font-weight: normal;
}
#index li {
display: inline;
padding: 2px 5px;
border: 1px solid #222;
}
#index li a{
color: #888;
}
#index li a:hover {
color: #ffc600;
}
#footer li#text-3 {
line-height: 1.6em;
}
#footer #address {
font-size: 10px;
}
#footer li h3.widget-title {
color: #666;
font-size: 10px;
text-transform: uppercase;
font-weight: normal;
}

#footer_a ul ul {text-align: left;border-top:1px solid #222;}
#footer_a li ul li {padding:7px 0;border-bottom: 1px solid #222;}
#footer_b ul ul {text-align: left;border-top:0px solid #222;}
#footer_b li ul li {padding:7px 0;border-bottom: 1px solid #222;}
#footer_c ul ul {text-align: left;border-top:0px solid #222;}
#footer_c li ul li {padding:7px 0;border-bottom: 1px solid #222;}
#footer_d ul ul {text-align: left;border-top:1px solid #222;}
#footer_d li ul li {padding:7px 0;border-bottom: 1px solid #222;}
/*
#footer_e ul {text-align: right;border-top:1px solid #222;}
#footer_e li {padding:7px 0;border-bottom: 1px solid #222;}
*/

/********  BR Branding  ************/
#br-branding {background-color: #000;
height: 100px;
}
.bk_beachreview {
background-color: #000;height: 200px;
}

/********* Text Styles ************/
h1, h2, h3, h4, h5, h6 {
margin-bottom: 10px;
font-weight: bold;
color: #444;
line-height: 1.2em;
}
p {
/* margin: 0px 0px 10px 0px; */
/* line-height: 1.8em; */
/* margin: 0 0 1.4em 0; */
margin: 0 0 22px 0;
 line-height: 1.7em; 
 font-size: 1.2em; 
/*line-height: 22px;
font-size: 12px;*/
}
ul {
margin-bottom: 20px;
}
a {
text-decoration: none;
}
.wp-caption {
}
.caption, p.wp-caption-text {
margin-top: -10px;
padding:5px 0;
border-bottom: 1px solid #eee;
/* text-transform: uppercase; */
font-size: 11.5px;
color: #888;
/* font-family: Verdana, Helvetica, sans-serif; */
font-family: Arial, Helvetica, sans-serif;
display:inherit;
line-height: 17px;
}
.sectional {
font-size: 1.7em;
border-bottom: 1px solid #eee;
border-top: 1px solid #eee;
padding:10px 0 10px 0;
margin-bottom: 20px;
}
.allcaps {
text-transform: uppercase;
}
em {
font-style: italic;
font-family: Georgia, "Times New Roman", serif;
font-size: inherit;
}
.list ul {
border-top: 5px solid #eee;
font-size: 1.1em;
}
.list li {
border-bottom: 1px solid #ddd;
padding: 9px 0 9px 0;
line-height: 1.3em;
}
.smaller {
font-size:smaller;
}
.dropcap {
font-size: 3.5em;
float: left;
font-weight: bold;
margin: 0px 6px 0px 0px;
line-height: 42px;
color: #000;
/* font-family: Georgia, "Times New Roman", serif; */
text-shadow: -3px 3px #ddd;
}
strong {
color: #000;
}
/*
blockquote {
font-size: 1.1em;
line-height: 1.4em;
margin-bottom: 1em;
padding: 0 2.5em;
font-style: italic;
font-family: Georgia, "Times New Roman", serif;
background-image: url('/sites/beachreview/wp-content/themes/ut/images/lftquote.gif');
background-repeat: no-repeat;
background-position: top left;
}
*/
blockquote {
/*
font-size: 1.1em;
line-height: 1.3em;
margin-bottom: 1em;
*/
margin: 0 ;
line-height: 1.7em;
font-size: 1.1em;
padding: 0 0 0 3em;
font-style: italic;
font-family: Georgia, "Times New Roman", serif;
background-image: url('/sites/beachreview/wp-content/themes/ut/images/lftquote.gif');
background-repeat: no-repeat;
background-position: top left;
}
blockquote p {
background-image: url('/sites/beachreview/wp-content/themes/ut/images/rgtquote.gif');
background-repeat: no-repeat;
background-position: bottom right;
padding: 0 2em 0 0;
margin-bottom: 0px;
padding-bottom: 0px;
}
.readmore {
	text-transform: uppercase;
	font-size: .8em;
}
/********  Misc  ************/

.left, .alignleft {
float: left;
margin: 0 20px 10px 0;
}
.right, .alignright {
float: right;
margin: 0 0 10px 20px;
}
alignnone {
margin: 0;
padding: 0;
}
img {max-width: 100%;margin: 0 0 10px 0;}
.hidden {display: none;}
.flag {
width: 100px;
height: 115px;
position: absolute;
top: 0;
left: 250px;
z-index: 99;
}
.date {
text-transform: uppercase;
color:#999;
font-weight:normal;
font-style: normal;
font-family: Verdana, Helvetica, sans-serif;
/* font-size: .9em; */
}

/** SHARE **/
#a2apage_EMAIL { display:none !important; }
#a2apage_PTZ { display:none !important; }

.fresh-ink {
	width: 100%;
	clear: both;
	display: block;
}
.quote-attr {
	padding-top: 5px;
	margin-top: 0px;
}
#highlights {
	margin: -10px;
}